#content.dashboard {
	padding: 0;
}

#content.dashboard ul.area-column {
	padding: 0 1%;
	width: 31%;
	float: left;
	list-style-type: none;
    min-height: 50px;
}

#content.dashboard ul.area-column li.widget h3 {
	border-bottom: 1px solid #e6e6e6;
	padding: 7px 0;
	margin-top: 5px;
    font-weight: normal;
}

#content.dashboard ul.area-column li.widget h3:hover {
	background: #f66;
    cursor: pointer;
}

#content.dashboard ul.area-column li.widget div.widget-meta {
	padding: 3px 0;
    float: right;
}

#content.dashboard ul.area-column li.widget div.widget-meta a {
	display: inline-block;
	width: 25px;
	height: 25px;
}

#content.dashboard ul.area-column li.widget div.widget-meta a span {
	display: none;
}

#content.dashboard ul.area-column li.widget div.widget-meta a.settings {
	background: url(/media/images/icons/25/settings.png) no-repeat;
}

#content.dashboard ul.area-column li.widget div.widget-meta a.delete {
	background: url(/media/images/icons/25/delete.png) no-repeat;
}