#header {
	background: #efefef;
	margin: 0 -50px 0 -50px;
	padding: 0 50px;
}

#header h1,
#header h2 {
    margin: 0 0 -50px 0;
    padding-top: 30px;
    font-size: 30px;
    font-weight: normal;
}

#header h1 a {
    color: #000;
    text-decoration: none;
}

#header form.global-search {
    position: absolute;
    right: 50px;
    margin-top: -45px;
}

#header ul.navigation {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#header ul.navigation li {
	display: inline-block;
	background: #fff;
	color: #000;
	font-size: 14px;
	margin-top: 80px;
	padding: 8px 11px;
}

#header ul.navigation li a {
    color: #000;
    text-decoration: none;
    font-weight: normal;
}

#header ul.navigation li a:hover {
    color: #00f;
    text-decoration: underline;
}

#header #toolbar {
    position: fixed;
    top: 0;
    right: 50px;
}

#header #toolbar ul.sub-nav {
    list-style-type: none;
    margin: 0;
    padding: 8px 12px;
    background: #555;
    border-radius: 0 0 4px 4px;
}

#header #toolbar ul.sub-nav li {
    display: inline;
    font-size: 12px;
    color: #fff;
    margin: 0;
}

#header #toolbar ul.sub-nav li a {
    color: #eee;
    text-decoration: none;
    font-weight: bold;
}

#header #toolbar ul.sub-nav li a:hover {
    color: #39c;
}

#header #toolbar #alerts {
    position: absolute;
    margin-left: -90px;
    text-align: center;
    border-radius: 0 0 4px 4px;
}

#header #toolbar #alerts.red {
    background: #d55;
    color: #fff;
}

#header #toolbar #alerts.orange {
    background: #d70;
    color: #fff;
}

#header #toolbar #alerts.yellow {
    background: #ea0;
    color: #000;
}

#header #toolbar #alerts p {
    padding: 9px 12px 8px 12px;
    margin: 0;
}
