#meta {
    float: right;
}

#meta ul {
    width: 150px;
    list-style-type: none;
    padding-left: 15px;
}

#meta ul li {
    font-size: 11pt;
    padding: 7px 10px;
    margin-bottom: 3px;
    border-top: 1px solid #ededed;
    text-align: center;
}

#meta ul li:first-child {
    border: none;
}

#meta ul li a {
    font-weight: normal;
}