html,
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	background: url(/media/images/bg.png) repeat-x;
}

a {
	outline: none;
	text-decoration: none;
	color: #000;
}

.monospace {
	font-family: monospace;
}

.notification-message {
	font-family: monospace;
}

.pagination span {
	display: inline;
	padding: 5px 20px 5px 0;
	font-size: 10pt;
}

.icon-25 {
	display: inline-block;
	width: 25px;
	height: 25px;
}

.icon-25 span {
	display: none;
}

.icon-25.ok {
	background: url(/media/images/icons/25/ok.png) no-repeat;
}

.icon-25.pending {
	background: url(/media/images/icons/25/pending.png) no-repeat;
}

li.settings {
	background: url(/media/images/icons/70/settings.png) no-repeat;
}

li.add {
	background: url(/media/images/icons/70/add.png) no-repeat;
}

li.delete {
	background: url(/media/images/icons/70/delete.png) no-repeat;
}

li.share {
	background: url(/media/images/icons/70/share.png) no-repeat;
}

li.host {
	background: url(/media/images/icons/70/host.png) no-repeat;
}

li.network {
	background: url(/media/images/icons/50/network.png) no-repeat;
}

li.event {
	background: url(/media/images/icons/70/event.png) no-repeat;
}

li.alert {
	background: url(/media/images/icons/70/alert.png) no-repeat;
}

li.report {
	background: url(/media/images/icons/70/report.png) no-repeat;
}

li.report-pdf {
	background: url(/media/images/icons/70/report-pdf.png) no-repeat;
}

li.search {
	background: url(/media/images/icons/70/search.png) no-repeat;
}

li.user {
	background: url(/media/images/icons/70/user.png) no-repeat;
}

#container {
	width: 1000px;
	margin: 0 auto;
	text-align: left;
}

#header h1 {
	font-weight: bold;
	clear: both;
	background: url(/media/images/umit_logo/umit_85.png) no-repeat;
	margin-top: 25px;
	padding: 30px 0 18px 100px;
}

#header h1 a:hover {
	color: #36c;
}

#alerts {
	position: absolute;
	top: 38px;
	margin-left: 880px;
	font-size: 10pt;
}

#alerts ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#alerts ul li {
	background: url(/media/images/icons/15/alert.png) no-repeat;
	margin: 7px 0;
	padding-top: 4px;
	padding-bottom: 5px;
}

#alerts ul li a {
	padding-left: 35px;
	font-weight: bold;
}

#alerts ul li.alert-low {
	background: url(/media/images/icons/25/alert_low.png) no-repeat;
}

#alerts ul li.alert-medium {
	background: url(/media/images/icons/25/alert_medium.png) no-repeat;
}

#alerts ul li.alert-high {
	background: url(/media/images/icons/25/alert_high.png) no-repeat;
}

#toolbar {
	background: #333;
	color: #ccc;
	height: 25px;
}

#toolbar ul {
	list-style-type: none;
	margin: 0;
	padding: 5px 5px;
	font-size: 9pt;
}

#toolbar ul li {
	float: right;
}

#toolbar a {
	color: #9cf;
}

#toolbar a:hover {
	text-decoration: underline;
}

#navigation {
	background: url(/media/images/nav_bg.png) no-repeat;
	height: 35px;
	font-size: 11pt;
	padding-top: 9px;
}

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#navigation ul li {
	float: left;
	padding: 2px 35px 5px 35px;
}

#navigation ul li a {
	color: #fff;
}

#navigation ul li a:hover {
	color: #9cf;
}

#navigation form.search-form p {
	margin: -1px 0 0 0;
	padding-left: 720px;
}

#navigation form.search-form input[type=text] {
	height: 20px;
	padding: 2px 5px;
	border: 0;
}

#navigation form.search-form input[type=submit] {
	border: 0;
	color: #fff;
	font-weight: bold;
	background: #333;
	padding-left: 15px;
}

#navigation form.search-form input[type=submit]:hover {
	color: #fc3;
	cursor: pointer;
}

form#global-search input[name=s] {
	color: #ccc;
}

#meta {
	width: 990px;
	margin-top: -4px;
	padding: 5px 0 0 0;
}

#meta ul {
	list-style-type: none;
	margin: 0;
}

#meta ul li {
	width: 70px;
	float: right;
	font-size: 8pt;
	text-align: center;
}

#meta ul li a {
	display: block;
	width: 70px;
	padding-top: 70px;
	vertical-align: text-bottom;
}

#meta ul li a:hover {
	color: #9cf;
}

#content-wrapper {
	background: #eee;
}

#content {
	float: left;
	padding: 15px 0;
	width: 70%;
	min-height: 500px;
	background-position: -100px -100px;
}

#content table {
	width: 100%;
	border-collapse: collapse;
}

#content table td {
	padding: 4px 0;
}

#content table th {
	border-bottom: 1px solid #000;
}

#content a {
	color: #00f;
	text-decoration: underline;
}

#content h2 {
	padding: 30px 0 10px 90px;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20pt;
}

#content.network h2 {
	background: url(/media/images/icons/70/network.png) no-repeat;
}

#content.host h2 {
	background: url(/media/images/icons/70/host.png) no-repeat;
}

#content.host-settings h2 {
	background: url(/media/images/icons/70/host_settings.png) no-repeat;
}

#content.user h2 {
	background: url(/media/images/icons/70/user.png) no-repeat;
}

#content.share h2 {
	background: url(/media/images/icons/70/share.png) no-repeat;
}

#content.event h2 {
	background: url(/media/images/icons/70/event.png) no-repeat;
}

#content.report h2 {
	background: url(/media/images/icons/70/report.png) no-repeat;
}

#content.plugin h2 {
	background: url(/media/images/icons/70/plugin.png) no-repeat;
}

#content.widget h2 {
	background: url(/media/images/icons/70/widget.png) no-repeat;
}

#content.search h2 {
	background: url(/media/images/icons/70/search.png) no-repeat;
}

#content p.breadcrumbs {
	margin: -10px 0 0 90px;
	font-size: 14pt;
	color: #c1c1c1;
}

#content p.breadcrumbs a {
	text-decoration: none;
	color: inherit;
	font-weight: inherit;
}

#content p.breadcrumbs a:hover {
	color: #9cf;
}

#content h3 {
	margin-top: 30px;
	font-size: 12pt;
}

#content p {
	font-size: 10pt;
}

#content a {
	color: #36c;
	text-decoration: none;
	font-weight: bold;
}

#content a:hover {
	color: #f90;
}

#content table {
	font-size: 10pt;
	margin: 10px 0;
}

#content table thead {
	border-bottom: 2px solid #666;
	color: #666;
}

#content table tbody {
	border-bottom: 2px solid #666;
}

#content table tbody tr {
	border-bottom: 1px solid #666;
}

#content table td {
	padding: 5px;
}

#content form p label {
	vertical-align: top;
	width: 100px;
	display: inline-block;
	text-align: right;
	padding-top: 4px;
}

#content form input[type=text],
#content form textarea {
	border: 1px solid #aaa;
	padding: 3px;
	width: 500px;
}

#content form.search p {
	display: inline;
}

#content form.search p label {
	width: 150px;
}

#content form.search input[type=text] {
	width: 400px;
}

#content.dashboard {
	width: 960px;
	padding: 0 20px 20px 20px;
}

#content.dashboard ul.area-column {
	padding: 0 10px;
	width: 300px;
	min-height: 200px;
	float: left;
	list-style-type: none;
}

#content.dashboard ul.area-column li.widget h3 {
	border-bottom: 3px solid #fc3;
	padding: 3px;
	margin-top: 5px;
}

#content.dashboard ul.area-column li.widget h3:hover {
	background: #ffe;
}

#content.dashboard ul.area-column li.widget div.widget-meta {
	padding: 0;
	margin: -45px 0 0 245px;
}

#content.dashboard ul.area-column li.widget div.widget-meta a {
	display: inline-block;
	width: 25px;
	height: 25px;
}

#content.dashboard ul.area-column li.widget div.widget-meta a span {
	display: none;
}

#content.dashboard ul.area-column li.widget div.widget-meta a.settings {
	background: url(/media/images/icons/25/settings.png) no-repeat;
}

#content.dashboard ul.area-column li.widget div.widget-meta a.delete {
	background: url(/media/images/icons/25/delete.png) no-repeat;
}

#sidebar {
	width: 26%;
	float: left;
	font-size: 10pt;
	margin: 20px;
}

#sidebar a {
	color: #36c;
	font-weight: bold;
}

#sidebar a:hover {
	color: #f90;
}

#sidebar ul.area-column {
	padding: 0;
	width: 268px;
	min-height: 200px;
	float: left;
	list-style-type: none;
}

#sidebar ul.area-column li.widget h3 {
	border-bottom: 3px solid #fc3;
	padding: 7px;
	margin-top: 5px;
}

#sidebar ul.area-column li.widget h3:hover {
	background: #ffe;
}

#sidebar ul.area-column li.widget div.widget-meta {
	padding: 0;
	margin: -45px 0 0 213px;
}

#sidebar ul.area-column li.widget div.widget-meta a {
	display: inline-block;
	width: 25px;
	height: 25px;
}

#sidebar ul.area-column li.widget div.widget-meta a span {
	display: none;
}

#sidebar ul.area-column li.widget div.widget-meta a.settings {
	background: url(/media/images/icons/25/settings.png) no-repeat;
}

#sidebar ul.area-column li.widget div.widget-meta a.delete {
	background: url(/media/images/icons/25/delete.png) no-repeat;
}

#footer {
	background: #666;
	color: #ccc;
	clear: both;
	height: 50px;
	padding: 8px 20px 0 20px;
	background: url(/media/images/footer_bg.png) no-repeat;
}

#footer p {
	font-size: 9pt;
	padding: 3px 0;
	margin: 0;
}

#footer a {
	color: #f99;
}

#footer a:hover {
	color: #fff;
}
