div.column div.widget {
	margin: 0 0 15px 0;
    background: #fff;
}

div.column div.widget h2 {
	padding: 9px 15px;
	margin: 0 0 10px 0;
	font-weight: 600;
	font-size: 16px;
    border-bottom: 1px solid #000;
	background: #efefef;
	color: #000;
}

div.column div.widget h2:hover{
	cursor: pointer;
}

div.column div.widget div.content {
	padding: 5px 10px;
	border-top: 0;
	background: #f6f6f6;
}

div.column div.widget div.content p {
	font-size: 13px;
}

div.fixed-widget {
	color: #fff;
}

div.fixed-widget h2 {
	padding: 15px 15px;
	margin: 0;
	font-weight: 600;
	font-size: 16px;
}

div.fixed-widget div.content {
	padding: 5px 15px;
}