{% load charts %}
<script type="text/javascript">
	charts.push(function(){
		var data = new google.visualization.DataTable();
		
		data.addRows({{ chart|length }});
		
		{% for column in chart %}
			data.addColumn('{{ column.column_type }}', '{{ column.column_label }}');
			{% for value in column.data %}
				data.setValue({{ forloop.counter0 }}, {{ forloop.parentloop.counter0 }}, {{ value|safe }});
			{% endfor %}
		{% endfor %}
		
		new google.visualization.{{ chart.chart_type }}(document.getElementById('chart-{{ chart|chart_hash }}')).
			draw(data, {
				title: '{{ chart.title }}',
				width: {{ chart.width }},
				height: {{ chart.height }}
				{% block chart_options %}
				{% endblock %} 
			}
		);
	});
</script>
<div id="chart-{{ chart|chart_hash }}" {% block chart_style %}{% endblock %}></div>