#content h2 {
    font-size: 25pt;
    font-weight: normal;
	margin: 15px 10px 15px 5px;
}

#content-header p {
	font-size: 13px;
	margin: 0 0 10px 0;
}

#content {
    padding-right: 170px;
}

#content form.search {
    margin: 0;
}

#content form.search p {
    font-size: 10pt;
    padding: 5px;
    margin: 20px 0 0 0;
}

#content form.search input[type=text] {
    margin-left: 10px;
    border: 1px solid #ccc;
}

#column-left {
	padding-top: 1px;
	width: 50%;
	float: left;
}

#column-right {
	width: 45%;
	padding-top: 1px;
	margin-left: 55%;
}

p.breadcrumbs {
    font-size: 9pt;
    margin: -10px 0 10px 5px;
    color: #999;
}