{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "network" %} {{ object.name }}{% endblock %}

{% block content %}
<h2>{% trans "Removing network" %}</h2>
<p>{% blocktrans with object.name as name %}Do you really want to remove network {{ name }}?{% endblocktrans %}</p>
<form action="" method="POST">
	<input type="submit" value="{% trans "Remove network" %}" />
	<p><a href="{% url network_detail object.pk %}">{% trans "Cancel" %}</a></p>
</form>
{% endblock %}

{% block sidebar %}
<ul>
	<li><a href="{% url network_list %}">{% trans "Networks list" %}</a></li>
	<li><a href="{% url network_new %}">{% trans "Add new network" %}</a></li>
</ul>
{% endblock %}