{% extends "base.html" %}
{% load i18n %}
{% block title %}network {{ object.name }}{% endblock %}

{% block content %}
<h2>{{ object.name }}</h2>
<h3>Basic info</h3>
<p>{{ object.description }}</p>

{% if hosts %}
<h3>Hosts</h3>
<table>
	<thead>
		<tr><th>{% trans "Host name" %}</th><th>{% trans "IPv4 address" %}</th><th>{% trans "IPv6 address" %}</th></tr>
	</thead>
	<tbody>
	{% for host in hosts %}
		<tr>
			<td><a href="{% url host_detail host.pk %}">{{ host.name }}</a></td>
			<td>{{ host.ipv4 }}</a></td>
			<td>{{ host.ipv6 }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endif %}

{% endblock %}

{% block sidebar %}
<ul>
	<li><a href="{% url network_update object.pk %}">{% trans "Edit network" %}</a></li>
	{#<li><a href="{% url host_delete object.pk %}">{% trans "Delete network" %}</a></li>#}
	<li><a href="{% url network_list %}">{% trans "Back to networks list" %}</a></li>
</ul>
{% endblock %}