{% extends "base.html" %}
{% block title %}networks list{% endblock %}

{% block content %}
<h2>Networks list</h2>
<table>
	<thead>
		<tr><th>Name</th><th>Number of hosts</th></tr>
	</thead>
	<tbody>
	{% for network in object_list %}
		<tr>
			<td><a href="{% url network_detail network.pk %}">{{ network.name }}</a></td>
			<td>{{ network.get_hosts_count }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block sidebar %}
<ul>
	<li><a href="{% url network_new %}">Add new network</a></li>
</ul>
{% endblock %}