{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="en" lang="en">	
	<head>
		<title>Network Administrator &#8211; {% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
	</head>
	<body>
		<div id="container">
			<div id="header">
				<h1><span><a href="">Network Administrator</a></span></h1>
				<div id="navigation">
					<ul>
						<li><a href="{% url event_list %}">{% trans "Events" %}</a></li>
						<li><a href="{% url host_list %}">{% trans "Hosts" %}</a></li>
					</ul>
				</div>
			</div>
			<div id="sidebar">
				{% block sidebar %}{% endblock %}
			</div>
			<div id="content">
				{% block content %}{% endblock %}
			</div>
			<div id="footer">
				<p>&copy; Copyright 2011, Adriano Monteiro Marques</p>
			</div>
		</div>
	</body>
</html>
